$color_1: #000;
$color_2: inherit;
$color_3: #333333;
$color_4: #00008b;
$color_5: #23527c;
$color_6: #383838;
$color_7: #060606;
$color_8: #888;
$color_9: #555;
$color_10: #777777;
$color_11: #0896D3;
$color_12: #636b6f;
$color_13: black;
$color_14: #333;
$color_15: #337ab7;
$color_16: #286090;
$color_17: #3c763d;
$color_18: #2b542c;
$color_19: #31708f;
$color_20: #245269;
$color_21: #8a6d3b;
$color_22: #66512c;
$color_23: #a94442;
$color_24: #843534;
$color_25: #fff;
$color_26: #c7254e;
$color_27: #ffffff;
$color_28: #555555;
$color_29: #363636;
$color_30: white;
$color_31: #080808;
$color_32: #999999;
$color_33: #737373;
$color_34: #5cb85c;
$color_35: #5bc0de;
$color_36: #f0ad4e;
$color_37: #d9534f;
$color_38: #262626;
$color_39: #5e5e5e;
$color_40: #cccccc;
$color_41: #9d9d9d;
$color_42: #444444;
$color_43: #c7ddef;
$color_44: #f5f5f5;
$color_45: #dff0d8;
$color_46: #d9edf7;
$color_47: #fcf8e3;
$color_48: #f2dede;
$color_49: #000000;
$color_50: transparent;
$font_family_1: sans-serif;
$font_family_2: monospace, monospace;
$font_family_3: 'Glyphicons Halflings';
$font_family_4: "Roboto", Helvetica, Arial, sans-serif;
$font_family_5: inherit;
$font_family_6: fontawesome;
$font_family_7: Menlo, Monaco, Consolas, "Courier New", monospace;
$font_family_8: serif;
$background_color_1: transparent;
$background_color_2: #fff;
$background_color_3: #ffffff;
$background_color_4: #f5f5f5;
$background_color_5: #000;
$background_color_6: #fcf8e3;
$background_color_7: #337ab7;
$background_color_8: #286090;
$background_color_9: #dff0d8;
$background_color_10: #c1e2b3;
$background_color_11: #d9edf7;
$background_color_12: #afd9ee;
$background_color_13: #f7ecb5;
$background_color_14: #f2dede;
$background_color_15: #e4b9b9;
$background_color_16: #f9f2f4;
$background_color_17: #333333;
$background_color_18: #f9f9f9;
$background_color_19: #e8e8e8;
$background_color_20: #d0e9c6;
$background_color_21: #c4e3f3;
$background_color_22: #faf2cc;
$background_color_23: #ebcccc;
$background_color_24: rgb(64, 64, 64);
$background_color_25: rgb(255, 164, 0);
$background_color_26: #e6e5e5;
$background_color_27: #eeeeee;
$background_color_28: #e6e6e6;
$background_color_29: #404040;
$background_color_30: #5cb85c;
$background_color_31: #449d44;
$background_color_32: #5bc0de;
$background_color_33: #31b0d5;
$background_color_34: #f0ad4e;
$background_color_35: #ec971f;
$background_color_36: #d9534f;
$background_color_37: #c9302c;
$background_color_38: #e5e5e5;
$background_color_39: darkgray;
$background_color_40: #e7e7e7;
$background_color_41: #dddddd;
$background_color_42: white;
$background_color_43: #222222;
$background_color_44: #080808;
$background_color_45: #777777;
$background_color_46: #5e5e5e;
$background_color_47: #3c763d;
$background_color_48: #31708f;
$background_color_49: #8a6d3b;
$background_color_50: #a94442;
$background_color_51: #000000;
$background_color_52: #f7f7f7;
$background_color_53: #000 \9;
$background_color_54: rgba(0, 0, 0, 0);
$border_color_1: #e7e7e7;
$border_color_2: #66afe9;
$border_color_3: #3c763d;
$border_color_4: #2b542c;
$border_color_5: #8a6d3b;
$border_color_6: #66512c;
$border_color_7: #a94442;
$border_color_8: #843534;
$border_color_9: #cccccc;
$border_color_10: #adadad;
$border_color_11: #2e6da4;
$border_color_12: #204d74;
$border_color_13: #4cae4c;
$border_color_14: #398439;
$border_color_15: #46b8da;
$border_color_16: #269abc;
$border_color_17: #eea236;
$border_color_18: #d58512;
$border_color_19: #d43f3a;
$border_color_20: #ac2925;
$border_color_21: transparent;
$border_color_22: #337ab7;
$border_color_23: #eeeeee #eeeeee #dddddd;
$border_color_24: #dddddd;
$border_color_25: #080808;
$border_color_26: #333333;
$border_color_27: #101010;
$border_color_28: #d6e9c6;
$border_color_29: #bce8f1;
$border_color_30: #faebcc;
$border_color_31: #ebccd1;
$border_color_32: #31708f;
$border_color_33: #ddd;
$border_color_34: rgba(0, 0, 0, 0.15);
$border_top_color_1: #000;
$border_top_color_2: #d5d5d5;
$border_top_color_3: #c9e2b3;
$border_top_color_4: #a6e1ec;
$border_top_color_5: #f7e1b5;
$border_top_color_6: #e4b9c0;
$border_top_color_7: #dddddd;
$border_top_color_8: #337ab7;
$border_top_color_9: #d6e9c6;
$border_top_color_10: #bce8f1;
$border_top_color_11: #faebcc;
$border_top_color_12: #ebccd1;
$border_top_color_13: #000000;
$border_top_color_14: #999999;
$border_top_color_15: rgba(0, 0, 0, 0.25);
$border_top_color_16: #ffffff;
$border_right_color_1: #000000;
$border_right_color_2: #999999;
$border_right_color_3: rgba(0, 0, 0, 0.25);
$border_right_color_4: #ffffff;
$border_bottom_color_1: transparent;
$border_bottom_color_2: #ffffff;
$border_bottom_color_3: #dddddd;
$border_bottom_color_4: #337ab7;
$border_bottom_color_5: #d6e9c6;
$border_bottom_color_6: #bce8f1;
$border_bottom_color_7: #faebcc;
$border_bottom_color_8: #ebccd1;
$border_bottom_color_9: #000000;
$border_bottom_color_10: #999999;
$border_bottom_color_11: rgba(0, 0, 0, 0.25);
$border_left_color_1: #000000;
$border_left_color_2: #999999;
$border_left_color_3: rgba(0, 0, 0, 0.25);
$border_left_color_4: #ffffff;
